<div class="col-md-10 col-md-offset-1">
    <h1>{{vm.message}}</h1>

    <form name="myForm" novalidate
        ng-submit="vm.submit(myForm.$valid)">
        <div class="form-group">
            <label for="fullName">
                Full name:
            </label>
            <div ng-messages="myForm.fullName.$error"
                    ng-if="myForm.fullName.$touched || myForm.$submitted">
                <div ng-messages-include="error-messages.html"></div>
            </div>
            <input type="text"
                class="form-control"
                id="fullName"
                name="fullName"
                ng-minlength="5"
                ng-maxlength="20"
                required
                ng-model="vm.user.name" />
        </div>

        <div class="form-group">
            <label for="age">Age:</label>
            <div ng-messages="myForm.age.$error"
                ng-if="myForm.age.$touched || myForm.$submitted">
                <div ng-messages-include="error-messages.html"></div>
            </div>
            <input type="number"
                class="form-control"
                id="age"
                name="age"
                min="1"
                max="99"
                ng-model="vm.user.age"
                required />
        </div>

        <div class="form-group">
            <label for="email">Email address:</label>
            <div ng-messages="myForm.email.$error"
                ng-if="myForm.email.$touched || myForm.$submitted">
                <div ng-messages-include="error-messages.html"></div>
            </div>
            <input type="email"
                class="form-control"
                id="email"
                name="email"
                min="1"
                max="99"
                ng-model="vm.user.email"
                required />
        </div>

        <input class="btn btn-default" type="submit" />
    </form>

<!--     <pre>
        {{ myForm | json }}
    </pre> -->
</div>


<!-- long syntax of error messages -->
<!--
    <span ng-if="myForm.firstName.$error.required">
        (This field is required)
    </span>
    <span ng-if="myForm.firstName.$error.minlength">
        (This field is too short)
    </span>
    <span ng-if="myForm.firstName.$error.maxlength">
        (This field is too lon)
    </span>
-->
