<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>UserAPI Angular Demo</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="styles/style.css">
</head>
<body ng-app="userApp" ng-cloak>
    <div ng-controller="userController as userVm">
        <div class="col-md-10 col-md-offset-1">
            <h1>{{userVm.message}}</h1>

            <span class="label">Ordered By: {{userVm.orderByField}}, Reverse Sort: {{userVm.reverseSort}}</span>

            <table class="table table-striped table-hover table-borders">
                <tr>
                    <th>
                        <a href="#" ng-click="userVm.orderByField='name'; userVm.reverseSort = !userVm.reverseSort">
                            Name
                            <span ng-show="userVm.orderByField == 'name'">
                                <span ng-show="!userVm.reverseSort">^</span>
                                <span ng-show="userVm.reverseSort">v</span>
                            </span>
                        </a>
                    </th>
                    <th>
                        <a href="#" ng-click="userVm.orderByField='email'; userVm.reverseSort = !userVm.reverseSort">
                            Email
                            <span ng-show="userVm.orderByField == 'email'">
                                <span ng-show="!userVm.reverseSort">^</span>
                                <span ng-show="userVm.reverseSort">v</span>
                            </span>
                        </a>
                    </th>
                    <th>Address</th>
                    <th>Zip</th>
                    <th>City</th>
                    <th>Delete</th>
                </tr>
                <tr ng-repeat="user in userVm.users|orderBy:userVm.orderByField:userVm.reverseSort">
                    <td>{{user.name}}</td>
                    <td>{{user.email}}</td>
                    <td>{{user.address}}</td>
                    <td>{{user.zip}}</td>
                    <td>{{user.city}}</td>
                    <td><a href="#" ng-click="userVm.deleteUser(user)"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a></td>
                </tr>
            </table>

            <button ng-click="userVm.loadMore()">Load next page</button>
        </div>
    </div>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/underscore/underscore-min.js"></script>
    <script src="scripts/app.js"></script>
    <script src="scripts/services.js"></script>
    <script src="scripts/controllers.js"></script>
</body>
</html>
