<div>
    <div class="col-md-10 col-md-offset-1">
        <h1>Users</h1>

        <input type="text" ng-model="vm.nameTest" />
        {{vm.nameTest}}

        <p>Ordered By: {{vm.orderByField}}, Reverse Sort: {{vm.reverseSort}}</p>

        <a class="btn btn-default pull-right userbtn" ui-sref="add">Add new user</a>

        <table class="table table-striped table-hover table-borders">
            <tr>
                <th>
                    <a href="#" ng-click="vm.orderByField='name'; vm.reverseSort = !vm.reverseSort">
                        Name
                        <span ng-show="vm.orderByField == 'name'">
                            <span ng-show="!vm.reverseSort">^</span>
                            <span ng-show="vm.reverseSort">v</span>
                        </span>
                    </a>
                </th>
                <th>
                    <a href="#" ng-click="vm.orderByField='email'; vm.reverseSort = !vm.reverseSort">
                        Email
                        <span ng-show="vm.orderByField == 'email'">
                            <span ng-show="!vm.reverseSort">^</span>
                            <span ng-show="vm.reverseSort">v</span>
                        </span>
                    </a>
                </th>
                <th>Address</th>
                <th>Zip</th>
                <th>City</th>
                <th>Delete</th>
            </tr>
            <tr ng-repeat="user in vm.users| orderBy:vm.orderByField:vm.reverseSort">
                <td><a ui-sref="edit({userid: user.id})">{{user.name | toUpper : true}}</a></td>
                <td>{{user.email | toUpper : false}}</td>
                <td>{{user.address}}</td>
                <td>{{user.zip}}</td>
                <td>{{user.city}}</td>
                <td><a href="#" class="btn btn-danger" ng-click="vm.deleteUser(user)"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a></td>
            </tr>
        </table>

        <button class="btn btn-default" ng-click="vm.loadMore()">Load next page</button>
    </div>
</div>

